node_modules
dump
.vscode/launch.json
./data
.fake
.env.test
.vscode
src/archive
data
data/tmp
data/Справочник процессов.xlsx
dashboard.code-workspace
.env
.env copy
show.ps1
./c4-language-server.log
c4-language-server.log
dump/rich-esia.json
.gitignore
terraform
