.message-caption {
    background-color: white;
}

.message-caption:hover {
    background-color: lightgray;
}

ul {
    list-style-type: none;
}

.caret {
    background-color: lightgrey;
    cursor: pointer;
    user-select: none;
}

.caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
    transform: rotate(90deg);
}

.caret-down::before {
    transform: rotate(0deg);
}

#show-hide-application{
    color: blue;
    cursor: pointer;
}

.application{
    /*color: blue;*/
    font-weight: bold;
}